*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    font-size: 15px;
}
/* buscar como aplicar bien atributos en section */
section {
    background-image: url(images/bg-pattern-top-desktop.svg);
    min-height: 100vh;
    background-repeat: no-repeat;

}
/* buscar que cuadre margen y ancho */
.row {
    max-width: 80%;
    margin: 0 auto 100px auto;
}
.top-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 45px;
}
.hello {
    flex-basis: 50%;
}
h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 3.125rem;
}
.message {
    color: hsl(303, 10%, 53%);
    line-height: 2em;
}
.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}
.review {
    right: 90px;
}
.guru {
    right: 50px;
}
.best-tech {
    right: 0px;
}
.rated {
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    margin-left: 15px;

}
/* +++++++++++++++++++++++ Middle Container  ++++++++++++++++++*/

.middle-container {
    bottom: 50px;
    display: flex;
    position: relative;
    top: 50px;
}
.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: auto 10px;
    padding: 20px;
    position: relative;
    width: 350px;
}
.card-irene {
    top: 20px;

}
.card-anne {
top: 40px;
}
.card-testimonials {
    align-items: center;
    display: flex;
    /*line-height: 150%;*/
    margin-bottom: 20px;
}
.info {
    margin-left: 20px;
    line-height: 120%;
}
h2 {
    color: hsl(0, 0%, 100%);
    font-size: 0.9375;
}
q {
    color: hsl(0, 0%, 100%);
    display: inline;
    font-size: 0.875rem;
}

.verified {
    color: hsl(333, 80%, 67%);
}
img {
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    width: 80%;
}
.card-quotation {
    margin-bottom: 20px;
}

@media (max-width: 768px){
    section{
        background-image: url(images/bg-pattern-top-mobile.svg);
    }
.top-container {
    flex-direction: column;
}
.hello {
    text-align: center;
}
h1 {
    font-size: 30px;
}
.message {
    font-size: 13px;
    padding: 20px 0;
}
.rating {
    position: relative;
    right: 0;
    flex-direction: column;
}
.stars {
    margin-bottom: 10px;
}
.middle-container {
flex-direction: column;
align-items: center;
}
.card {
    width: 100%;
    margin-top: 20px;
}
.card-anne {
    margin-bottom: 20px;
}
}